body#under-construction { width: 100%; height: 100%; margin: 0; position: absolute; background-color: #FFF; }

body#under-construction div#coming-soon { position: relative; top: 50%; left: 50%; width: 200px; height: 120px; margin-left: -100px; margin-top: -60px; }

body#under-construction div#coming-soon img { display: block; width: 100%; height: auto; }
